* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.red {
    background-color: #ff0000;
}

.green {
    background-color: #009900;
}

.blue {
    background-color: #66ccff;
}

.yellow {
    background-color: #ffcc00;
}

table {

    background-color: black;
    border-collapse: separate;
    border-spacing: 2px;
    margin: 10px auto 0;
}

td.simple {
    height: 40px;
    width: 40px;
}

td {
    background-color: white;
}

.ludo-center {
    border-top: 70px solid #009900;
    border-left: 70px solid #ff0000;
    border-right: 70px solid #ffcc00;
    border-bottom: 70px solid #66ccff;
}

.center {
    background-color: white;
    height: 150px;
    width: 150px;
    border: 1px solid black;
    margin: 0 auto;
}

.center .circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
    margin: 16px;
    border: 1px solid black; 
}